@page
@model Asp.net_Assignment.Pages.Forms.EventsModel
@{
    ViewData["Title"] = "Events";
    Layout = "";
}
<h1>Personal detail</h1>
<form method="post">
    <input type="text"  placeholder="give your adress" />
    <input type="text"   placeholder="write your firstname"/>
    <button type="submit">Button</button>
</form>
