@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here we can click on regiser or login page to enter the events page </p>
    <a class="btn btn-primary" href="/Forms/Events" role="button">Register</a>
    <a class="btn btn-primary" href="/Forms/Events" role="button">Login</a>
</div>
