@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-md-center">
    <h1 class="display-4">Welcome To Event Page</h1>

    <p>
        This Welcome page is created to welcome to people who visit this page and looking for events
        that are going to held arround you.Please click the register or login button that will direct you to the event page.
    </p>
    <a class="btn btn-primary" href="/Events/Events" role="button">Register</a>
    <a class="btn btn-primary" href="/Events/Events" role="button">Login</a>
    
</div>
